<mat-drawer-container class="example-container" autosize>
    <!-- SIDEBAR -->
    <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
  
      <p>{{ (authUser$ | async)?.email }}</p>
  
      <mat-nav-list>
        <a [routerLink]="link.path" mat-list-item *ngFor="let link of links">
          <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon> {{ link.title }}
        </a>
        <a (click)="logout()" mat-list-item> Cerrar sesión </a>
      </mat-nav-list>
    </mat-drawer>
  

    <div class="example-sidenav-content">

      <mat-toolbar color="primary">
        <div class="flex justify-content-between">
          <div>
            <button
              (click)="drawer.toggle()"
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with menu icon"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <span> Administración de cursos </span>
            <span class="example-spacer"></span>
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
            </button>
          </div>
          <p>{{ (authUser$ | async)?.nombre }}</p>
        </div>
      </mat-toolbar>
  
      <!-- MIS PAGINAS -->
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
</mat-drawer-container>
  